.Wrapper {
    background-color: #DEF2FF;
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    // opacity: 0;
    // visibility: hidden;
    transition: .4s ease-out;
    transform: translateX(-110%)
}
.WrapperActive {
    transition: .4s ease;
    background-color: #DEF2FF;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120vh;
    z-index: 10;
    transform: translateX(-0px)
}
.List {
    padding: 100px 15px 15px 15px;
}
.link {
    font-size: 16px;
    line-height: 20px;
    color: #120F0F;
    text-decoration: none;
    transition: .3s ease;
    margin-bottom: 55px;
    &:hover {
        transition: .3s ease;
        color: #4797C8;
    }
}
.linkActive {   
    font-size: 16px;
    line-height: 20px;
    color: #4797C8;
    text-decoration: none;
    transition: .3s ease;
}
.Item + .Item {
    margin-top: 20px;
}
.Select {
    margin-top: 15px;
    margin-left: 15px;
}
.Button {
    margin-top: 40px;
    margin-left: 15px;
}