// .Title {
//     text-align: center;
//     @media (max-width: 480px) {
//         text-align: left;
//         padding-left: 20px;
//     }
// }
// .List {
//     display: grid;
//     grid-template-columns: 1fr 1fr 1fr;
//     max-width: 1050px;
//     margin: 0 auto;
//     margin-top: 61px;
//     @media (max-width: 980px) {
//         grid-template-columns: 1fr 1fr;  
//     }
//     @media (max-width: 680px) {
//         grid-template-columns: 1fr;  
//     }
//     @media (max-width: 480px) {
//         margin-top: 42px;
//     }
// }
// .ListItem {
//     background-color: #F4F4FD;
//     padding: 15px;
//     max-width: 300px;
//     margin: 0 auto;
//     margin-bottom: 20px;
//     border-radius: 5px;
//     box-shadow: 0px 2px 10px rgba(39, 49, 230, 0.2);
//     @media (max-width: 680px) {
//         max-width: 450px; 
//     }
//     @media (max-width: 400px) {
//         max-width: 350px; 
//     }
   
// }
// .ListItemImg {
//     text-align: center;
//     img {
//         border-radius: 5px;
//         max-width: 270px;
//         max-height: 270px; 
//         @media (max-width: 680px) {
//             max-width: 350px;
//             max-height: 350px;
//         }
//         @media (max-width: 400px) {
//             max-width: 300px;
//             max-height: 290px;
//         }
//         // @media (max-width: 400px) {
//         //     max-width: 319px;
//         //     max-height: 310px;
//         // }
//     }
// }
// .ListItemName {
//     margin-top: 24px;
//     color: #110F0F;
//     font-size: 14px;
//     line-height: 17px;
//     font-weight: 600;
// }
// .ListItemStar {
//     margin-top: 5px;
// }
// .ListItemSpecialization {
//     margin-top: 15px;
//     font-size: 12px;
//     line-height: 14px;
//     color: #000;
//     font-weight: 600;
//     span {
//         font-weight: 400;
//     }
// }
// .ListItemExperience,
// .ListItemEducation {
//     margin-top: 5px;
//     font-size: 12px;
//     line-height: 14px;
//     color: #000;
//     font-weight: 600;
//     span {
//         font-weight: 400;
//     }
// }

.Title {
    text-align: center;
    @media (max-width: 480px) {
        text-align: left;
        padding-left: 20px;
    }
}
.List {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1050px;
    margin: 0 auto;
    margin-top: 61px;
    @media (max-width: 980px) {
        grid-template-columns: 1fr 1fr;  
    }
    @media (max-width: 680px) {
        grid-template-columns: 1fr;  
    }
    @media (max-width: 480px) {
        margin-top: 42px;
    }
}
.ListItem {
    background-color: #F4F4FD;
    padding: 15px;
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 10px rgba(39, 49, 230, 0.2);
    @media (max-width: 680px) {
        max-width: 450px; 
    }
    @media (max-width: 400px) {
        max-width: 350px; 
    }
   
}
.ListItemWrapper {
    max-width: 270px;
}
.ListItemImg {
    text-align: center;
    img {
        border-radius: 5px;
        max-width: 270px;
        max-height: 270px; 
        @media (max-width: 360px) {
            max-width: 250px;
            max-height: 250px;    
        }
    }
}
.ListItemName {
    margin-top: 24px;
    color: #110F0F;
    font-size: 14px;
    line-height: 17px;
    font-weight: 600;
}
.ListItemStar {
    margin-top: 5px;
}
.ListItemSpecialization {
    margin-top: 15px;
    font-size: 12px;
    line-height: 14px;
    color: #000;
    font-weight: 600;
    span {
        font-weight: 400;
    }
}
.ListItemExperience,
.ListItemEducation {
    margin-top: 5px;
    font-size: 12px;
    line-height: 14px;
    color: #000;
    font-weight: 600;
    span {
        font-weight: 400;
    }
}