.TeachersPage {
    padding: 120px 0px 0px 0px;
    @media (max-width: 480px) {
        padding: 95px 0 0px;
    }
}
.ErrorPage {
    padding: 120px 0px 0px 0px;
}
.ErrorPageImage {
    text-align: center;
    img {
        @media (max-width: 768px) {
            max-width: 350px;
        }
        @media (max-width: 480px) {
            max-width: 280px;
        }
    }
}