.Wrapper {
    padding: 50px 0;
    height: 100vh;
}
// .Inner {
//     background-image: url('../../assets/icons/whyIcon.svg');
//     background-repeat: no-repeat;
//     background-position: center;
//     background-size: contain;
//     @media (max-width: 768px) {
//         background-size: 50%;
//     }
//     @media (max-width: 480px) {
//         background-size: 75%;
//     }
// }
.Title {
    text-align: center;
    @media (max-width: 480px) {
       text-align: left;
    }
}
.List {
    margin-top: 75px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    grid-row-gap: 90px;
    @media (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);  
        grid-row-gap: 60px;
    }
    @media (max-width: 480px) {
        margin-top: 43px;
        grid-template-columns: 1fr;  
        grid-row-gap: 40px;
    }
}
.Item {
    max-width: 200px;
    margin: 0 auto;
    text-align: center;
    p {
        margin-top: 25px;
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
        width: 100%;
        @media (max-width: 480px) {
            font-size: 14px;
            line-height: 22px;
            margin-top: 0px;
            font-weight: 500;
        }
    }
    @media (max-width: 480px) {
       max-width: 100%;
       display: grid; 
       align-items: center;
       grid-template-columns: 17% 83%;
       margin: 0;
       text-align: left;
       img {
           width: 35px;
           height: 35px;
       }
    }
}

