// .Wrapper {
//     background-color: #F9FCFF;
//     box-shadow: 0px 3px 3px hsl(207, 77%, 95%);
//     position: fixed;
//     width: 100%;
//     z-index: 60;
// }
// .Inner {
//     display: grid;
//     grid-template-columns: 20% 40% 15% 25%;
//     align-items: center;
//     padding: 20px 0;
//     @media (max-width: 1024px) {
//         grid-template-columns: 15% 35% 20% 30%; 
//     }
//     @media (max-width: 980px) {
//         grid-template-columns: 10% 42% 15% 33%; 
//     }
// }
// .Select {
//     @media (max-width: 1024px) {
//        margin-left: 50px;
//     }
//     @media (max-width: 980px) {
//        margin-left: 10px;
//     }
//     text-align: center;
// }
.Wrapper {
    background-color: #F9FCFF;
    box-shadow: 0px 3px 3px hsl(207, 77%, 95%);
    position: fixed;
    width: 100%;
    z-index: 60;
}
.Inner {
    // display: grid;
    // grid-template-columns: 20% 40% 15% 25%;
    // align-items: center;
    display: grid;
    grid-template-columns: 20% 80%;
    padding: 20px 0;
    @media (max-width: 980px) {
        grid-template-columns: 15% 85%;
    }
}
.MenuSelectButton {
    display: grid;
    grid-template-columns: 40% 20% 40%; 
    align-items: center;
    @media (max-width: 980px) {
        grid-template-columns: 45% 10% 45%; 
    }
    @media (max-width: 768px) {
        display: none;
    }
}
.MenuSelectButtonMobileWrapper {
    position: relative;
}
.MenuSelectButtonMobile {
    z-index: 50;
    display: none;
    max-width: 50px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
    }
}
.MenuLineTop,
.MenuLineCenter,
.MenuLineBottom {
    width: 30px;
    height: 2px;
    background-color: #000;
    margin: 3px 0;
    transition: .3s ease;
  
}
.MenuLineTopTransform {
    width: 30px;
    height: 2px;
    background-color: #000;
    margin: 3px 0;
    transition: .3s ease;
    transform: translate(0px, 6px) rotate(45deg);
}
.MenuLineCenterTransform {
    width: 30px;
    height: 2px;
    background-color: #000;
    margin: 3px 0;
    transition: .3s ease;
    transform: scale(0);
}
.MenuLineBottomTransform {
    width: 30px;
    height: 2px;
    background-color: #000;
    margin: 3px 0;
    transition: .3s ease;
    transform: translate(0px, -10px)rotate(-45deg);
}

.Select {
    text-align: center;
    margin-left: 115px;
    @media (max-width: 1024px) {
       margin-left: 60px;
    }
    @media (max-width: 880px) {
       margin-left: 40px;
    }
    @media (max-width: 780px) {
       margin-left: 20px;
    }
}

.Button {
    text-align: right;
}